<%- include("partials/header"); -%>

    <div class="review-head">
        <h1 class="review-h1">Customers Reviews.</h1>
        <a href="/addreview" class="review-btn">Add Review</a>
    </div>
    

        <% review = review.map(function(view) { %>
            <div class="review-card">
                <img src="\images\user.png" alt="" class="review-user-pic" >        
                <h5><%= view.name%></h5>
                <p class="review-time"><%= view.date %> </p>
                <img src="\images\review.png" alt="" class="review-pic" >
                <hr class="review-hr">
                <p><%= view.review%></p>
            </div>
        <% }) -%>


        

<%- include("partials/footer"); -%>